# Mode paybox
PBX_MODE = 4
# Language
PBX_LANGUE = FRA
# CB
PBX_TYPECARTE=CB
# Wait
PBX_WAIT=0
# Attributs de retour
PBX_RUF1 = POST
PBX_RETOUR = ref:R\;transaction:T\;autorisation:A\;montant:M\;erreur:E\;sign:K
