html{
  background-color: #f0e6d6;
}

body{
  width: 990px;
  margin: 20px auto;
  background-color: #f0e6d6;
}

#header{
  background-color: #FFF;
}

#body{
  min-height: 600px;
  background-color: #FFF;
  -moz-border-radius: 0px 0px 20px 20px;
  -moz-box-shadow: 3px 3px 5px black;
  -webkit-border-radius: 0px 0px 20px 20px;
  -webkit-box-shadow: 3px 3px 5px black;
}

a{
  color: #1B597A;
}

h1{
  font-size: 25px;
  color: #1065A2;
  border-bottom: 2px solid #1065A2;
}


#content{
  width: 100%;
  padding: 20px;
}


#loginform{
  width: 400px;
  margin: 50px auto;
  color: #000;
  padding: 20px;
}

#loginform fieldset{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* Menu */
#menu{
  width: 100%;
}

#menu ul
{
  list-style: none;
  height: 40px;
  background: url('/ui/backoffice/images/menu-back.png') repeat;
  font: bold 12px Verdana, sans-serif;
  margin: 0px;
  padding: 0px;
  border-top: 1px solid white;
}

#menu li {
  float: left;
  padding: 0;
}

#menu ul li a
{
  text-decoration: none;
  color: #FFF;
  display: block;
  padding: 10px 15px;
}

#menu ul li a:hover
{
  color: #ffc600;
}

/* Breadcrumbs */
#breadcrumbs-container td{
  padding: 0;
  margin: 0px;
}

#breadcrumbs{
  margin: 0;
}

#breadcrumbs span:first-child a{
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
}

#breadcrumbs span a{
  background-color: gray;
  color: #FFF;
  padding: 5px;
  margin: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#breadcrumbs span a:hover {
  background-color: #175794;
  color: #FFF;
}

/* Input */
input, textarea, select{
  border: 1px solid gray;
  padding: 2px;
}
/* Tableau backoffice */
#browse-list{
  border-collapse: separate;
  border-spacing: 0px;
  width: 100%;
  font-size: 15px;
}


#browse-list thead th{
  font-size: 13px;
  background: #CBCBCB url('/ui/backoffice/images/table-back.png') repeat-x;
  border-color: #DDDDDD #AAAAAA #AAAAAA #DDDDDD;
  border-style: solid;
  border-width: 1px;
}

#browse-list thead th:hover {
  background: #D6D6D6 url('/ui/backoffice/images/table-back2.png') repeat-x;
}

#browse-list tbody td {
  vertical-align: middle;
}

.thumb-products{
  width: 48px;
  height: 48px;
  text-align: center;
}

fieldset{
  background-color: #F9F9F9;
  border: 1px solid #DDDDDD;
}

fieldset legend{
  font-size: 14px;
  padding: 3px 0px;
  color: #145391;
}

/****************************
 * Backoffice order view
 ****************************/
.order-browse{
  width: 100%;
  border: 1px solid #dfd5c3;
  border-collapse:collapse;
  padding: 0;
  margin: 10px;
}

.order-browse input,
.order-browse textarea,
.order-browse select{
  border: 1px solid gray;
}

.order-browse thead th{
  height: 25px;
  background: url('/ui/shop/images/table-back2.png') repeat;
  color: #fff;
  padding: 4px 6px;
  text-align: left;
}

.order-browse thead th img{
  vertical-align: bottom;
}

.order-browse tr td {
  border: 1px solid #dfd5c3;
  color: #000;
  font-size:0.9em;
  height:23px;
  padding: 4px;
}

.order-sub-browse{
  width: 98%;
  border: 1px solid #dfd5c3;
  border-collapse:collapse;
  padding: 0;
  margin: 10px;
}

.order-sub-browse thead th{
  height: 25px;
  background-color: #A67322;
  color: #fff;
  padding: 4px 6px;
  text-align: left;
}

.order-sub-browse thead th img{
  vertical-align: bottom;
}

.order-sub-browse tr td {
  border: 1px solid #dfd5c3;
  color: #000;
  height:23px;
  padding: 4px;
  background-color: #FFF;
  font-size: 15px;
}

.order-hr{
  border:0px;
  border-bottom: 1px solid #AC7622;
  clear:both;
}

/* h1 */

.title{
  width: 100%;
  color: #000;
  height: 20px;
  background-image: url('/ui/backoffice/images/h1-back.png');
  background-repeat: repeat-x;
  border-bottom: 1px solid #CBCBCB;
  border-top: 1px solid #CBCBCB;
  padding-left: 10px;
}

#product-details{
  border: 1px solid #dfd5c3;
  border-collapse:collapse;
  padding: 0;
  margin: 10px;
  width: 100%;
}

#product-details th{
  height: 25px;
  background-color: #1B597A;
  border: 1px solid white;
  color: #fff;
  padding: 4px 6px;
  text-align: left;
}

#product-details td{
  height: 25px;
  border: 1px dashed black;
  padding: 4px 6px;
  text-align: left;
}

.button-green{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  float: left;
  display: block;
  line-height: 20px;
  margin: 10px;
  text-align: center;
  padding: 5px 20px;
  color: #FFF;
  font-weight: bold;
  border: 1px solid gray;
  background-image: url('/ui/backoffice/images/button-green-back.png');
  background-repeat: repeat-x;
}

.button-red{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  float: left;
  display: block;
  line-height: 20px;
  margin: 10px;
  text-align: center;
  padding: 5px 20px;
  color: #FFF;
  font-weight: bold;
  border: 1px solid gray;
  background-image: url('/ui/backoffice/images/button-red-back.png');
  background-repeat: repeat-x;
}

.button-green:hover {
  background-image: url('/ui/backoffice/images/button-green-back-hover.png');
}

/* Context menu */
.context-menu label {
  background-color: #000;
  padding: 5px;
  margin: 0px;
  width: 215px;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
}

.context-menu label a, .context-menu label a:link,
.context-menu label a:visited, .context-menu label a:hover {
  color: #FFF;
}

#right{
  padding-top: 50px;
  width: 225px;
}

.context-menu{
  width: 225px;
  background-color: #F9F9F9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 1px 1px 1px black;
  -webkit-box-shadow: 1px 1px 1px black;
  margin-top: 5px;
  padding: 0px;
}

.context-menu a, .context-menu a:link, .context-menu a:visited, .context-menu a:hover {
  color: #000;
}

.context-menu .nav-active a{
  color: green;
  font-size: 15px;
}

.context-menu form{
  padding: 5px;
}

/* Wiki */
.section h1{
background-color:#F2F2F2;
border-bottom:1px solid #CCCCCC;
color:#20435C;
font-family:'Trebuchet MS',sans-serif;
font-weight:normal;
margin:20px -20px 10px;
padding:3px 0 3px 10px;
}

.section h1 a{
  color: #20435C;
}

#page-wikipage-view #wrapper a{
  color: #355F7C;
}

#page-wikipage-view #wrapper a:hover {
  text-decoration: underline;
}


.wiki.reference.external:link, .wiki.reference.external:visited {
 background: none;
 padding: 0;
 padding-left: 0 !important;
}

#page-wikipage-view #wrapper #breadcrumbs{
 display: block;
}

#page-wikipage-view #wrapper #breadcrumbs span:first-child {
 display: none;
}

.section .figure {
  background:none;
  border:0px;
  text-align:center;
}

/* Divers */
.counter{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 35px;
  padding: 0 5px;
  color: #FFF;
  text-align: center;
}

#browse-list .counter a{
  color: #FFF;
  text-decoration: none;
}

.counter-green{
  background-color: green;
}

.counter-red{
  background-color: red;
}

.counter-black{
  background-color: black;
}

.button-bill {
  background-image: url(/ui/icons/16x16/pdf.png);
  padding-left: 16px;
}

.button-order {
  background-image: url(/ui/icons/16x16/select_none.png);
  padding-left: 16px;
}

#order-manage-page-backoffice{
  font-size: 15px;
}

/*****************
 * Tarifs shippings
 *****************/
#shippings-tarification h1{
  border: 1px solid black;
  color: #FFF;
  text-align: center;
  background-color: #0F63A4;
  padding: 5px;
}

#shippings-tarification h2{
  border-bottom: 1px solid black;
}

#shippings-tarification .prices{
  float: left;
  margin-top: 5px;
}


#shippings-tarification .prices #browse-list thead th{
  background: #EDEDED;
  width: 100px;
  white-space: nowrap;
}

#shippings-tarification .prices #browse-list tbody td{
  background: #FFF;
}

#shippings-tarification .shipping-way{
  padding: 10px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  margin: 20px 0 20px 50px;
  background-color: #FFF8EE;
}

#shippings-tarification .shipping-way .tarification{
  margin: 20px 0 20px 50px;
}

/* News */
#news h2 a{
  color: black;
  text-decoration: none;
}


#news .a-news{
  margin: 20px;
  padding: 10px;
  background-color: #EEE;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

#news .a-news p a{
  color: #FD7D00;
  text-decoration: none;
}

#form-table p{
  clear: both;
}

/* Style des buttons */
button, .button{
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  background-color: #FFF;
  border:1px solid #CCCCCC;
  cursor: pointer;
  padding: 5px;
  font-size: 12px;
  -moz-box-shadow:0 0 3px #CCCCCC;
  background-position: 5px 5px;
  background-repeat: no-repeat;
  padding-left: 24px !important;
  text-decoration: none;
}

button:hover, button:focus {
  -moz-box-shadow:0 0 3px #999999;
  -webkit-box-shadow:0 0 3px #999999;
}

button.button-ok:hover {
  -moz-box-shadow:0 0 3px #70CD1A;
  -webkit-box-shadow:0 0 3px #70CD1A;
}

button.button-delete:hover {
  -moz-box-shadow:0 0 3px red;
  -webkit-box-shadow:0 0 3px red;
}

button::-moz-focus-inner {
  border: 0px;
}

button::-webkit-focus-inner {
  border: 0px;
}

/* Product edit */
#final-retail-price, #reduce-final-retail-price{
  font-size: 30px;
}

#final-retail-price.strikethrough{
  color: red;
}

.strikethrough{
  text-decoration: line-through;
}
