#articles{
  margin-top: 20px;
  border: 1px solid black;
}

#articles th{
  background-color: #E2E2E2;
  padding: 4px;
}

#articles td{
  padding: 4px;
}

.align-right{
  text-align: right;
}

p.page {
  font-family: sansserif;
  text-align: right;
  font-size: 6;
  font-weight: normal;
  padding: 0;
}
