/*****************
 *    Cart       *
 *****************/

table.cart{
  border: 1px solid black;
  border-collapse:collapse;
}

table.cart th{
  font:bold 13px Arial,sans-serif;
  border: 1px solid black;
  padding:5px 3px 5px 3px;
  color:#FFFFFF;
  background:#729fcf;
}

table.cart td{
  padding:5px 3px 5px 3px;
  text-align:center;
  border:1px solid black;
}

#cart{
 width: 100%;
 border-collapse:collapse;
}

#cart th{
  background-color: #B0B0B0;
  color: #FFF;
  border: 1px solid #B0B0B0;
  border-right: 1px solid white;
  padding: 4px;
  text-align:center;
}
#cart #last{
  border: 1px solid #B0B0B0;
}

#cart td{
  border: 1px solid #B0B0B0;
  padding: 5px;
  text-align:center;
}

#cart .table-quantity td{
  border: 0px;
}

#button-order{
  background-color: #FF8A00;
  border: 1px solid #006;
  padding: 5px;
  margin: 10px;
  color: #FFF;
}

#empty-cart{
  width: 100%;
  text-align: center;
  padding: 50px 0;
}

#cart a{
  color: #FF8A00;
  text-decoration: none;
}


#clear-cart{
  background-image: url(/ui/shop/images/delete.png);
  margin: 5px;
  padding-left: 20px;
  float: right;
  border: 0px;
}

#facture th {
  background-color: #666666;
  color: #FFF;
  padding: 5px;
}
#facture td {
  padding: 5px;
  border: 1px solid black;
}
#facture a {
  color: #EC77D6;
}

#buttonPay {
  padding: 10px;
  background-color: #666;
  color: #FFF;
  border: 1px solid black;
  margin: 10px;
}

.order{
  margin: 10px 0;
}


#htmlFacture{
  width: 21cm;
  text-align:center;
}

#htmlFacture #articles{
  width: 18cm;
  margin: auto;
}

#htmlFacture #addresses{
  width: 18cm;
  margin: auto;
}

#htmlFacture #addresses td{
  width: 6cm;
}

#htmlFacture #infos{
  margin: 1cm 1cm 1cm 1cm;
}

#htmlFacture #infos td{
  border: 1px solid black;
  padding: 5px;
}

#htmlFacture #articles table{
  border-collapse: collapse;
}

#htmlFacture th{
  background-color: #D2D2D2;
  border: 1px solid black;
}

#htmlFacture #articles tr{
  border: 1px solid black;
}

#htmlFacture #articles td{
  border: 1px solid black;
  padding: 5px;
}

#payment_state{
  color:red;
}

/* List products */

#list-products{
  width: 100%;
}

.product-view-box{
  float: left;
  border: 1px solid black;
}

#missing-declination{
  display: none;
}

/* Payment process (Progress bar) */

.payment-process{
  color: gray;
  font-family: arial, helvetica, sans-serif ;
  font-size: 22px;
  border-bottom: 1px solid gray;
  margin-bottom: 25px;
}

input[type="image"]{
  border: 0;
}

#progress-number-table td {
  padding-right: 22px;
  padding-bottom: 22px;
}

.progress-number {
  background: url('/ui/shop/images/payment_number.png') no-repeat;
  height: 24px;
  color: white;
  padding-left: 8px;
  padding-top: 2px;
  font-family: arial, helvetica, sans-serif ;
  font-size: 18px;
}
.progress-number a {
  color: white;
  text-decoration: none;
}

.progress-number .title {
  font-size: 12px;
  color: gray;
  padding-left: 20px;
}
.progress-number.active {
  background: url('/ui/shop/images/payment_number_actif.png') no-repeat;
}
.progress-number.active .title {
  color: #ff7500;
}

/* Batch numerotation */
.batch-numerotation{
  padding: 0;
}

.batch-numerotation ul {
  list-style-type: none;
}
.batch-numerotation li {
  display: inline;
}

.batch-numerotation a {
  width: 7px;
  height: 7px;
  color: #000;
  text-decoration: none;
  padding: 5px;
  margin: 2px;
  border: 1px solid #D3D7CF;
}

.batch-numerotation a:hover {
  background-color: #EEEEEC;
}

.batch-numerotation a.current {
  background-color: #EEEEEC;
  font-weight: bold;
}

/* Comparator */
#comparator{
  width: 100%;
}

#comparator #title{
  text-align: left;
  padding: 5px;
  color: #FFF;
  border-bottom: 1px solid black;
  background-color: #FF7500;
}

#comparator th{
  text-align: left;
  padding: 5px;
  color: #FFF;
  border-bottom: 1px solid black;
  background-color: #808080;
}

#comparator td{
  text-align: center;
  padding: 5px;
  border-bottom: 1px solid gray;
  border-right: 1px dashed gray;
}

#products .checkbox{
 background: transparent url(/ui/shop/images/comparator_pointilles.png) repeat-y scroll left top;
 vertical-align: middle;
}
#products .product{
 margin: 5px;
}
#products .description{
 padding: 5px;
}
#products .box{
 margin: 5px;
 padding: 5px;
 border: 1px solid gray;
 width: 500px;
}
#products .product-title{
 text-decoration: underline;
}
.buttoncompare{
 border: 1px solid #006;
 padding: 5px;
 color: #FFF;
 margin: 5px;
}
#products .fleche-bas{
  background-image: url(/ui/shop/images/fleche_bas.png);
  width: 17px;
  height: 27px;
}
#products .fleche-haut{
  background-image: url(/ui/shop/images/fleche_haut.png);
  width: 17px;
  height: 27px;
}

/**************************
 * Images slider
 **************************/

#product-slider-box .product-slider-preview-img{
  cursor: pointer;
  padding: 3px;
}

#product-slider-box .product-slider-preview-img.selected{
  border: 1px solid gray;
  padding: 2px;
}

/***********************
 * Product cart
 **********************/

#cart-box{
  background-color: #FFF;
}

#cart-box h1{
  padding: 0;
  margin: 0;
}

#cart-box-title{
  border-bottom: 1px solid black;
}

#cart-box-content ul{
  border: 0;
  padding: 0;
  list-style-type: none;
}

#cart-box-content ul a{
  text-decoration: none;
}

#cart-box-order{
  text-align: right;
  border-top: 1px solid black;
  padding: 5px;
}

#cart-box-order a{
  color: #000;
  text-decoration: none;
}

/***********************
 * Base print view
 **********************/

.print{
  background-color: #FFF;
}

#print-product-cover{
  text-align: center;
}

#print-wrapper{
  margin: auto;
  padding: 10px;
  width: 750px;
  text-align: center;
}

#print-product-informations{
  float: middle;
  border: 1px solid black;
}

#print-product-informations th{
  width: 200px;
  background-color: #efefef;
  padding: 5px;
  border-bottom: 1px dashed gray;
}

#print-product-informations td{
  padding: 5px;
  border-bottom: 1px dashed gray;
}

#print-product-informations tr:last-child th,
#print-product-informations tr:last-child td{
  border-bottom: none;
}

.print h3{
  border-bottom: 1px solid black;
}


/****************************
 * Backoffice order view
 ****************************/
.order-browse{
  width: 100%;
  border: 1px solid #dfd5c3;
  border-collapse:collapse;
  padding: 0;
  margin: 10px;
}

.order-browse input,
.order-browse textarea,
.order-browse select{
  border: 1px solid gray;
}

.order-browse thead th{
  height: 25px;
  background: url('/ui/shop/images/table-back2.png') repeat;
  color: #fff;
  padding: 4px 6px;
  text-align: left;
}

.order-browse thead th img{
  vertical-align: bottom;
}

.order-browse tr td {
  border: 1px solid #dfd5c3;
  color: #000;
  font-size:0.9em;
  height:23px;
  padding: 4px;
}

.order-sub-browse{
  width: 98%;
  border: 1px solid #dfd5c3;
  border-collapse:collapse;
  padding: 0;
  margin: 10px;
}

.order-sub-browse thead th{
  height: 25px;
  background: url('/ui/shop/images/table-back.png') repeat;
  color: #fff;
  padding: 4px 6px;
  text-align: left;
}

.order-sub-browse thead th img{
  vertical-align: bottom;
}

.order-sub-browse tr td {
  border: 1px solid #dfd5c3;
  color: #000;
  font-size:0.9em;
  height:23px;
  padding: 4px;
}

/*****************
 * Order states
 ****************/

.wf-order-open{
  color: green;
}

.wf-order-closed{
  color: red;
}

.wf-order-sent{
  color: blue;
}
